

.loadScreen {
    position: absolute;
    z-index: 9999;
    width: 100%;
    height: 100vh;
    background-color: #FFE2C4;
    animation-name: loadingScreen;
    animation-delay: 3s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.73, 0.03, 0.87, 0.7)
}

@keyframes loadingScreen {
    from {
        top: 0;
    }

    to {
        top: -300vh;
    }
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }